@model CarrotSystem.Models.ViewModel.ViewAudit
@inject Microsoft.AspNetCore.Http.IHttpContextAccessor HttpContextAccess

@{
    ViewBag.Title = "Event Viewer";
    Layout = "_Layout";
}

<h4 class="py-3 breadcrumb-wrapper mb-4">
    @ViewBag.Title
</h4>

<div class="row">
    <div class="col-md-12">
        <div class="card"> 
            <div class="card-body">
                <form asp-action="SelectedEventList" id="selectForm" class="form-horizontal" method="POST" novalidate="novalidate">
                    <div class="row">
                        <div class="col-md-2">
                            <label>Date From: </label>
                            <div class="input-group">
                                <div class="input-group-addon"></div>
                                <input id="datePickerFrom" asp-for="strDateFrom" type="text" class="form-control" value="@Model.dateFrom.ToString("dd/MM/yyyy")" />
                            </div>
                        </div>
                        <div class="col-md-2">
                            <label>Date To: </label>
                            <div class="input-group">
                                <div class="input-group-addon"></div>
                                <input id="datePickerTo" asp-for="strDateTo" type="text" class="form-control" value="@Model.dateTo.ToString("dd/MM/yyyy")" />
                            </div>
                        </div> 
                        <div class="col-md-2 form-group">
                            <label>Event Type : </label>
                            <select asp-for="eventType" class="form-select" OnChange="GetActionType(this.value);">
                                <option value="All">All</option>
                                @foreach (var type in Model.eventTypeList)
                                {
                                    <option value="@type">@type</option>
                                }
                            </select>
                        </div>
                        <div class="col-md-2">
                            <label>Action Type : </label>
                            <select asp-for="actionType" class="form-select" id="actionTypeBox">
                                <option value="All">All</option>
                            </select>
                        </div>
                        <div class="col-md-1">
                            <label>&nbsp;</label>
                            <div class="input-group">
                                <a class="btn rounded-pill btn-label-primary" OnClick="sendDataForm();">Search</a>
                            </div>
                        </div> 
                        <div class="col-sm-2  pull-right">
                            <label>&nbsp;</label>
                            <div class="input-group">
                                <div class="input-group-addon"></div>
                                <input class="form-control" type="text" id="searchText" placeholder="Search ...">
                            </div>
                        </div>
                    </div>
                </form>

                 <div class="row mt-4">
                     <div class="col-md-12">
                        <table id="dataTable" class="table table-hover table-bordered table-striped">
                            <thead>
                                <tr>
                                    <th class="col-lg-1 col-md-1 col-sm-1">No.</th>
                                    <th class="col-lg-1 col-md-2 col-sm-1">Event Type</th>
                                    <th class="col-lg-2 col-md-2 col-sm-2">Action Type</th>
                                    <th class="col-lg-4 col-md-4 col-sm-4">Desc</th>
                                    <th class="col-lg-2 col-md-2 col-sm-2">Date</th>
                                    <th class="col-lg-2 col-md-2 col-sm-2">Event By</th>
                                </tr>
                            </thead>

                            <tbody>
                                @foreach (var item in Model.eventList)
                                {
                                    <tr>
                                        <td>@item.EventId</td>
                                        <td>@item.EventType</td>
                                        <td>@item.ActionType</td>
                                        <td>@item.EventDesc</td>
                                        <td>@item.EventDate.Value.ToString("dd/MM/yyyy HH:mm")</td>
                                        <td>@item.EventBy</td>
                                    </tr>
                                }
                            </tbody>
                        </table>

                     </div>
                 </div>
            </div>
        </div>
    </div>
</div>
<input type="hidden" id="editId" />
@section PageScripts
{
    <script>
        //Menu Active
        MenuActive("", "Audit", "EventViewer");

        $(document).ready(function () {
             
            //Data Table
            var dataTable = $('#dataTable').DataTable({
                order: [[0, 'desc']],
                'paging': true,
                'lengthChange': false,
                'searching': true,
                'ordering': true,
                'info': false,
                'autoWidth': true,
                'displayLength': 100,
                "dom": '<"top"i>rt<"bottom"><"clear">'
            });

            $('#searchText').on('keyup', function () {
                dataTable.search($('#searchText').val()).draw();
            });
        });

        //Date picker
        $('#datePickerFrom').datepicker({
            autoclose: true,
            todayHighlight: true,
            format: 'dd/mm/yyyy'
        });

        $('#datePickerTo').datepicker({
            autoclose: true,
            todayHighlight: true,
            format: 'dd/mm/yyyy'
        });

        function GetActionType(eventType) 
        {
            $.ajax({
                type: "POST",
                url: "/Audit/GetActionType?eventType=" + eventType,
                contentType: "application/json",
                dataType: "json",
                success: function (response) {

                    $("#actionTypeBox option").remove();

                    var str;

                    str += '<option value="All">All</option>';

                    for (var i = 0; i < response.length; ++i) {
                        str += '<option value="' + response[i] + '">' + response[i] + '</option>';
                    }

                    document.getElementById("actionTypeBox").innerHTML = str;
                }
            });
        };

        function sendDataForm() {
            document.getElementById('selectForm').submit();
        };
    </script>
}





